* {
  list-style: none;
  border: none;
  color: black;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #1d1e24;
  padding: 1rem;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
}

body div {
  border-radius: 2rem;
  padding: 1rem;
}

.tasks_list {
  background-color: beige;
}

.prayer_clock {
  background-color: aqua;
}

.time {
  background-color: greenyellow;
}

.weather {
  background-color: orangered;
}

.reminders {
  background-color: purple;
}
